@import "../../../styles/page";

.app-table {
  width: 100%;

  .table-title {
    margin: 0.5rem auto;
  }

  // stylelint-disable-next-line selector-class-pattern
  .MuiTable-root {
    thead th {
      font-weight: bold;
    }
  }

  .action-wrapper {
    $spacing: 0.5rem;

    padding: $spacing;
    min-width: 100%;

    @include RightAlign;

    >* {
      margin-left: $spacing;
    }
  }
}