@import "../../../styles/page";

.AppTable {
  width: 100%;

  .TableTitle {
    margin: 0.5rem auto;
  }

  .MuiTable-root {
    thead th {
      font-weight: bold;
    }
  }

  .ActionWrapper {
    $spacing: 0.5rem;

    padding: $spacing;
    min-width: 100%;

    @include RightAlign;

    >* {
      margin-left: $spacing;
    }
  }
}