@mixin MaxWidth {
  width: 100%;
  max-width: 100%;
}

.AutoCategorizeRulesTable {
  @include MaxWidth;

  thead {
    th:nth-child(4) {
      text-align: right;
    }
  }

  .ActionsCell {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .ReOrderButtons {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .DetailsButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}