@import "../../../styles/dialog";

.AutoCategorizeRuleDetailsForm {
  display: flex;
  flex-direction: column;
  width: 100%;

  hr {
    width: 100%;
  }
}

.AutoCategorizeRuleDetailsActions {
  @include DialogActions;
}