@mixin ColumnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin ColumnAlignStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin PageRoot {
  @include ColumnAlignCenter;
  padding: 2rem;
}

@mixin RightAlign {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}