@mixin column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin column-align-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin page-root {
  @include column-align-center;

  padding: 2rem;
}

@mixin right-align {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}