@import "../../../styles/page";

.ImportTransactions {
  .ImportFormContainer {
    width: 100%;
    padding: 1rem;

    .ImportForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}