@import "../../../styles/page";

.import-transactions {
  .import-form-container {
    width: 100%;
    padding: 1rem;

    .import-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}