@import "../../../styles/page";

.ImportTransactions {
  @include PageRoot;

  .TitleWrapper {
    // TODO make this style re-usable
    margin-bottom: 2rem;
  }

  .ImportForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    >* {
      width: 30%;
      margin: 1rem auto;
    }
  }
}