@import "../../../styles/dialog";

.CategoryDetailsDialog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .CategoryDetailsForm {
    margin: 1rem auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .NameField {
      width: 50%;
    }
  }
}

.CategoryDetailsActions {
  @include dialog-actions;
}