.spending-by-category-table {
  .change-cell-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.greater-than {
      color: red;
    }

    &.less-than {
      color: green;
    }
  }
}