@import "../../../styles/page";

.needs-attention-notice {
  width: 100%;
  margin: 1rem auto;
  color: red;
  padding: 1rem;

  .header {
    @include column-align-center;

    font-weight: bold;
  }

  .items {
    @include column-align-start;
  }
}