@import "../../../styles/page";

.NeedsAttentionNotice {
  width: 100%;
  margin: 1rem auto;
  color: red;
  padding: 1rem;

  .Header {
    @include ColumnAlignCenter;
    font-weight: bold;
  }

  .Items {
    @include ColumnAlignStart;
  }
}