@import "../../../styles/dialog";

@mixin section {
  margin: 2rem auto;
}

.transaction-details-dialog {
  width: 100%;

  .last-rule-applied {
    display: flex;
    flex-direction: column;
    align-items: center;

    >* {
      margin-bottom: 0.5rem;
    }
  }

  .details-spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  hr {
    border-color: cyan;
  }

  .flags {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
  }

  .info {
    @include section;

    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .center {
    text-align: center;
  }
}

.category-spinner {
  text-align: center;
}

.transaction-details-actions {
  @include DialogActions;
}