.transaction-details-duplicate-panel {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    margin: 1rem;
  }

  .mark-not-duplicate-selection {
    margin-top: 1rem;
  }
}