@import "../../../styles/page";

@mixin MaxWidth {
  width: 100%;
}

.TransactionsTable {
  @include MaxWidth;

  >form {
    @include MaxWidth;
    @include ColumnAlignCenter;
  }

  .CategoryCell {
    width: 20%;
  }

  .FlagsCell {
    width: 10%;

    >* {
      margin: 0 0.2rem;
    }
  }
}