@import "../../../styles/page";

@mixin MaxWidth {
  width: 100%;
  max-width: 100%;
}

.TransactionsTable {
  @include MaxWidth;

  >form {
    @include MaxWidth;
    @include ColumnAlignCenter;
  }

  &.edit {
    thead {
      th:nth-child(1) {
        text-align: center;
        width: 10%;
      }
    }
  }

  .ConfirmAllCheckbox {
    .MuiFormControlLabel-label {
      font-weight: bold;
      font-size: 0.875rem;
    }
  }

  .ConfirmedCell {
    text-align: center;
  }

  .CategoryCell {
    &.edit {
      width: 30%;
    }
  }

  td.DescriptionCell {
    max-width: 20rem;
    word-wrap: break-word;
  }

  .FlagsCell {
    display: flex;
    flex-direction: column;

    .FlagRow {
      display: flex;
      flex-direction: row;
    }
  }
}