@import "../../../styles/dialog";

@mixin section {
  margin: 2rem auto;
}

.TransactionDetailsDialog {
  width: 100%;

  .LastRuleApplied {
    display: flex;
    flex-direction: column;
    align-items: center;

    >* {
      margin-bottom: 0.5rem;
    }
  }

  .DetailsSpinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  hr {
    border-color: cyan;
  }

  .Flags {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
  }

  .Info {
    @include section;

    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .center {
    text-align: center;
  }
}

.CategorySpinner {
  text-align: center;
}

.TransactionDetailsActions {
  @include DialogActions;
}